In [79]:
import pandas as pd

# # all the data have:
Happiness Rank	
Happiness Score	
Economy (GDP per Capita)	
Family (Social support)
Health (Life Expectancy)	
Generosity

In [80]:
df_2015 = pd.read_csv("../Datasets/2015.csv")
df_2015['year'] = 2015
df_new_2015=df_2015[["Country",'year', "Happiness Rank","Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)","Generosity"]]
df_new_2015.head()
#size (158, 12)

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.29678
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.43630
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.34139
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.34699
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.45811

In [81]:
df_2016 = pd.read_csv("../Datasets/2016.csv")
df_2016.head()
df_2016['year'] = 2016
df_new_2016=df_2016[["Country",'year', "Happiness Rank","Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)","Generosity"]]
df_new_2016.head()
#size(157, 13)
#new colums
#Lower Confidence Interval and Upper Confidence Interval
#  different from 2015 : does not have Standard Error

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Denmark,2016,1,7.526,1.44178,1.16374,0.79504,0.36171
1,Switzerland,2016,2,7.509,1.52733,1.14524,0.86303,0.28083
2,Iceland,2016,3,7.501,1.42666,1.18326,0.86733,0.47678
3,Norway,2016,4,7.498,1.57744,1.12690,0.79579,0.37895
4,Finland,2016,5,7.413,1.40598,1.13464,0.81091,0.25492

In [82]:
df_2017 = pd.read_csv("../Datasets/2017.csv")

df_2017.rename(columns={"Happiness.Rank": "Happiness Rank"}, inplace=True)
df_2017.rename(columns={"Happiness.Score": "Happiness Score"}, inplace=True)
df_2017.rename(columns={"Economy..GDP.per.Capita.": "Economy (GDP per Capita)"}, inplace=True)
df_2017.rename(columns={"Health..Life.Expectancy.": "Health (Life Expectancy)"}, inplace=True)
df_2017.head()
df_2017['year'] = 2017
df_new_2017=df_2017[["Country",'year', "Happiness Rank","Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)","Generosity"]]
df_new_2017.head()
#size (155, 12)
#new colums no from 2016 , but the name change and order of the colum
#  different from 2015 : does not have Standard Error and Region

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Norway,2017,1,7.537,1.616463,1.533524,0.796667,0.362012
1,Denmark,2017,2,7.522,1.482383,1.551122,0.792566,0.355280
2,Iceland,2017,3,7.504,1.480633,1.610574,0.833552,0.475540
3,Switzerland,2017,4,7.494,1.564980,1.516912,0.858131,0.290549
4,Finland,2017,5,7.469,1.443572,1.540247,0.809158,0.245483

In [83]:
df_2018 = pd.read_csv("../Datasets/2018.csv")
df_2018.rename(columns={"Overall rank": "Happiness Rank"}, inplace=True)
df_2018.rename(columns={"Country or region": "Country"}, inplace=True)
df_2018.rename(columns={"Score": "Happiness Score"}, inplace=True)
df_2018.rename(columns={"GDP per capita": "Economy (GDP per Capita)"}, inplace=True)
df_2018.rename(columns={"Healthy life expectancy": "Health (Life Expectancy)"}, inplace=True)
df_2018.rename(columns={"Social support": "Family"}, inplace=True)
df_2018.head()
df_2018['year'] = 2018
df_new_2018=df_2018[["Country",'year', "Happiness Rank","Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)","Generosity"]]
df_new_2018.head()

#size (156, 9)
#new no colums no but the name change and order of the colum
#  different from 2015 : does not have Standard Error and Region
#   different from 2016 and 2017 :does not have Trust..Government.Corruption. and Whisker.high	Whisker.low

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Finland,2018,1,7.632,1.305,1.592,0.874,0.202
1,Norway,2018,2,7.594,1.456,1.582,0.861,0.286
2,Denmark,2018,3,7.555,1.351,1.590,0.868,0.284
3,Iceland,2018,4,7.495,1.343,1.644,0.914,0.353
4,Switzerland,2018,5,7.487,1.420,1.549,0.927,0.256

In [84]:
df_2019 = pd.read_csv("../Datasets/2019.csv")
df_2019.rename(columns={"Overall rank": "Happiness Rank"}, inplace=True)
df_2019.rename(columns={"Country or region": "Country"}, inplace=True)
df_2019.rename(columns={"Score": "Happiness Score"}, inplace=True)
df_2019.rename(columns={"GDP per capita": "Economy (GDP per Capita)"}, inplace=True)
df_2019.rename(columns={"Healthy life expectancy": "Health (Life Expectancy)"}, inplace=True)
df_2019.rename(columns={"Social support": "Family"}, inplace=True)
df_2019['year'] = 2019
df_new_2019=df_2019[["Country",'year', "Happiness Rank","Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)","Generosity"]]
df_new_2019.head()
#size (156, 9)
#new no colums no but the name change and order of the colum
#  different from 2015 : does not have Standard Error and Region
#   different from 2016 and 2017 :does not have Trust..Government.Corruption. and Whisker.high	Whisker.low

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Finland,2019,1,7.769,1.340,1.587,0.986,0.153
1,Denmark,2019,2,7.600,1.383,1.573,0.996,0.252
2,Norway,2019,3,7.554,1.488,1.582,1.028,0.271
3,Iceland,2019,4,7.494,1.380,1.624,1.026,0.354
4,Netherlands,2019,5,7.488,1.396,1.522,0.999,0.322

In [85]:
import numpy as np
import pandas as pd
df_2020 = pd.read_csv("../Datasets/2020.csv")
#df_2020.rename(columns={"Overall rank": "Happiness Rank"}, inplace=True)
df_2020.rename(columns={"Country name": "Country"}, inplace=True)
df_2020.rename(columns={"Ladder score": "Happiness Score"}, inplace=True)
df_2020.rename(columns={"Logged GDP per capita": "Economy (GDP per Capita)"}, inplace=True)
df_2020.rename(columns={"Healthy life expectancy": "Health (Life Expectancy)"}, inplace=True)
df_2020.rename(columns={"Social support": "Family"}, inplace=True)
df_2020.head()
df_2020['year'] = 2020
df_2020['Happiness Rank'] = range(1, len(df_2020)+1)
df_new_2020=df_2020[["Country",'year','Happiness Rank',"Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)","Generosity"]]
df_new_2020.head()
#size (153, 20)
# alot of extra colum 
# but the name change and order of the colum

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Finland,2020,1,7.8087,10.639267,0.954330,71.900825,-0.059482
1,Denmark,2020,2,7.6456,10.774001,0.955991,72.402504,0.066202
2,Switzerland,2020,3,7.5599,10.979933,0.942847,74.102448,0.105911
3,Iceland,2020,4,7.5045,10.772559,0.974670,73.000000,0.246944
4,Norway,2020,5,7.4880,11.087804,0.952487,73.200783,0.134533

In [86]:
df_2021 = pd.read_csv("../Datasets/2021.csv")
df_2021.head()

df_2021.rename(columns={"Country name": "Country"}, inplace=True)
df_2021.rename(columns={"Ladder score": "Happiness Score"}, inplace=True)
df_2021.rename(columns={"Logged GDP per capita": "Economy (GDP per Capita)"}, inplace=True)
df_2021.rename(columns={"Healthy life expectancy": "Health (Life Expectancy)"}, inplace=True)
df_2021.rename(columns={"Social support": "Family"}, inplace=True)
df_2021.head()
df_2021['year'] = 2021
df_2021['Happiness Rank'] = range(1, len(df_2021)+1)
df_new_2021=df_2021[["Country","year","Happiness Rank","Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)","Generosity"]]
df_new_2021.head()
#size (149, 20)
# alot of extra colum 
# but the name change and order of the colum

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Finland,2021,1,7.842,10.775,0.954,72.0,-0.098
1,Denmark,2021,2,7.620,10.933,0.954,72.7,0.030
2,Switzerland,2021,3,7.571,11.117,0.942,74.4,0.025
3,Iceland,2021,4,7.554,10.878,0.983,73.0,0.160
4,Netherlands,2021,5,7.464,10.932,0.942,72.4,0.175

In [87]:
df_2022 = pd.read_csv("../Datasets/2022.csv")
df_2022.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [88]:
df_2022 = pd.read_csv("../Datasets/2022.csv")

df_2022.rename(columns={"RANK": "Happiness Rank"}, inplace=True)
df_2022.rename(columns={"Happiness score": "Happiness Score"}, inplace=True)
df_2022.rename(columns={"Explained by: Generosity": "Generosity"}, inplace=True)
df_2022.rename(columns={"Explained by: GDP per capita": "Economy (GDP per Capita)"}, inplace=True)
df_2022.rename(columns={"Explained by: GDP per capita": "Economy (GDP per Capita)"}, inplace=True)
df_2022.rename(columns={"Explained by: Healthy life expectancy": "Health (Life Expectancy)"}, inplace=True)
df_2022.rename(columns={"Explained by: Social support": "Family"}, inplace=True)
df_2022.head()
df_2022['Health (Life Expectancy)'] = df_2022['Health (Life Expectancy)'].apply(lambda x: float(x.replace(',', '.')) if isinstance(x, str) else x)
df_2022['Health (Life Expectancy)'] = df_2022['Health (Life Expectancy)'].apply(lambda x: (x)*100)

df_2022['Happiness Score'] = df_2022['Happiness Score'].apply(lambda x: float(x.replace(',', '.')) if isinstance(x, str) else x)
df_2022['Family'] = df_2022['Family'].apply(lambda x: float(x.replace(',', '.')) if isinstance(x, str) else x)
df_2022['Generosity'] = df_2022['Generosity'].apply(lambda x: float(x.replace(',', '.')) if isinstance(x, str) else x)
df_2022['Economy (GDP per Capita)'] = df_2022['Economy (GDP per Capita)'].apply(lambda x: float(x.replace(',', '.')) if isinstance(x, str) else x)
df_2022['year'] = 2022

#df_2022.to_csv('df_new_2022.csv', index=False)
#df_df = pd.read_csv("../notebooks/df_new_2022.csv")
df_new_22=df_2022[["Country","year", "Happiness Rank","Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)","Generosity"]]
df_new_22.head()
#size (149, 20)
# simarl to 2016 and 2017 
# but the name change and order of the colum
#  different from 2015 : does not have Standard Error and Region

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Finland,2022,1,7.821,1.892,1.258,77.5,0.109
1,Denmark,2022,2,7.636,1.953,1.243,77.7,0.188
2,Iceland,2022,3,7.557,1.936,1.320,80.3,0.270
3,Switzerland,2022,4,7.512,2.026,1.226,82.2,0.147
4,Netherlands,2022,5,7.415,1.945,1.206,78.7,0.271

In [89]:
# Combine data frames using `concat` function
combined_df = pd.concat([df_new_2015, df_new_2016, df_new_2017,df_new_2018,df_new_2019,df_new_2020,df_new_2021,df_new_22])

# Display the combined data frame
print(combined_df)
combined_df.to_csv('Happiness_data_from_2015_to_2022.csv', index=False)

         Country  year  Happiness Rank  Happiness Score  \
0    Switzerland  2015               1            7.587
1        Iceland  2015               2            7.561
2        Denmark  2015               3            7.527
3         Norway  2015               4            7.522
4         Canada  2015               5            7.427
..           ...   ...             ...              ...
142      Rwanda*  2022             143            3.268
143     Zimbabwe  2022             144            2.995
144      Lebanon  2022             145            2.955
145  Afghanistan  2022             146            2.404
146           xx  2022             147              NaN

     Economy (GDP per Capita)   Family  Health (Life Expectancy)  Generosity
0                     1.39651  1.34951                   0.94143     0.29678
1                     1.30232  1.40223                   0.94784     0.43630
2                     1.32548  1.36058                   0.87464     0.34139
3                     1.45900  1.33095                   0.88521     0.34699
4                     1.32629  1.32261                   0.90563     0.45811
..                        ...      ...                       ...         ...
142                   0.78500  0.13300                  46.20000     0.18700
143                   0.94700  0.69000                  27.00000     0.10600
144                   1.39200  0.49800                  63.10000     0.08200
145                   0.75800  0.00000                  28.90000     0.08900
146                       NaN      NaN                       NaN         NaN

[1231 rows x 8 columns]

In [90]:
import pandas as pd

# read in the data


# get a list of all countries
all_countries = combined_df['Country'].unique()

# create an empty list to store valid countries
valid_countries = []

# iterate through each country
for country in all_countries:
    # get the years that the country appears in the data
    years = combined_df.loc[combined_df['Country'] == country, 'year']
    # check if the country appears in all years from 2015 to 2022
    if set(years) == set(range(2015, 2023)):
        valid_countries.append(country)

# filter the data to keep only valid countries
df = combined_df[combined_df['Country'].isin(valid_countries)]

# print the updated DataFrame
print(df)
df.to_csv('Happiness_data_from_2015_to_2022.csv', index=False)

          Country  year  Happiness Rank  Happiness Score  \
0     Switzerland  2015               1            7.587
1         Iceland  2015               2            7.561
2         Denmark  2015               3            7.527
3          Norway  2015               4            7.522
4          Canada  2015               5            7.427
..            ...   ...             ...              ...
138      Tanzania  2022             139            3.702
139  Sierra Leone  2022             140            3.574
143      Zimbabwe  2022             144            2.995
144       Lebanon  2022             145            2.955
145   Afghanistan  2022             146            2.404

     Economy (GDP per Capita)   Family  Health (Life Expectancy)  Generosity
0                     1.39651  1.34951                   0.94143     0.29678
1                     1.30232  1.40223                   0.94784     0.43630
2                     1.32548  1.36058                   0.87464     0.34139
3                     1.45900  1.33095                   0.88521     0.34699
4                     1.32629  1.32261                   0.90563     0.45811
..                        ...      ...                       ...         ...
138                   0.84800  0.59700                  42.50000     0.24800
139                   0.68600  0.41600                  27.30000     0.20200
143                   0.94700  0.69000                  27.00000     0.10600
144                   1.39200  0.49800                  63.10000     0.08200
145                   0.75800  0.00000                  28.90000     0.08900

[936 rows x 8 columns]